<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href="/imagens/icone.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admindescricao.css">
    <title>LABSOUT</title>  
    <style>
        .navbar a {
            color: #fff;
            text-decoration: none;
        }
        .navbar a:hover {
            color: #ddd;
        }
        .navbar-title {
            color: #fff;
            font-size: 20px;
            margin-left: 10px;
        }
        .container {
            display: flex;
            padding: 0;
            justify-content: flex-start;
            width: 100%;
        }
        .carousel {
            width: 500px;
            position: absolute;
            left: 0;
        }
        
        .carousel-item img {
            max-height: 800px;
            object-fit: cover;
            border-radius: 20px;
        }
    </style>
<body>

    <nav class="navbar">
        <div class="navbar-left">
            <a href="/inicialadmin" class="navbar-icon">
                <i class="bi bi-calendar2-week"></i>
            </a>
            <span class="navbar-title"><strong>LABSOUT</strong></span> 
        </div>
    </nav>
    <div class="container">
        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="2000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/imagens/laboratorios/lab.png" class="d-block w-100" alt="Imagem 1">
                </div>
                <div class="carousel-item">
                    <img src="/imagens/laboratorios/lab2.png" class="d-block w-100" alt="Imagem 2">
                </div>
                <div class="carousel-item">
                    <img src="/imagens/laboratorios/lab3.jpg" class="d-block w-100" alt="Imagem 3">
                </div>
                <div class="carousel-item">
                    <img src="/imagens/laboratorios/lab4.png" class="d-block w-100" alt="Imagem 4">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    <div class="content-container">
        <div class="text-container">
            <h2><%= ambiente.nome_ambiente %></h2>
            <p><%= ambiente.descricao_ambiente%></p>
            <p><strong>Capacidade:</strong> <%= ambiente.capacidade_ambiente %> estudantes</p>
            <p><strong>Setor:</strong> <%= ambiente.nome_setor %></p>
            <p><strong>Coordenador do Laboratório: </strong><%= ambiente.nome_responsavel %></a></p>
            <p><strong>Contato:</strong> <a href="mailto:<%= ambiente.email_responsavel %>"><%= ambiente.email_responsavel %></a></p>
        </div>
    </div>
</body>
</html>